{% macro get_header() %}
<header class="flex gap-4 flex-col sm:flex-row justify-between pt-10 md:pb-10 print:hidden">
    <div class="flex sm:items-start text-xl lg:text-2xl sm:text-base max-w-lg">
        <a aria-label="{{config.extra.navbar.title}}"  class="self-center" href="/{% if lang != config.default_language %}{{lang}}{% endif %}">
            <div class="flex sm:flex-row font-semibold text-primary-color dark:text-primary-color-dark">
                [pattp.dev <img src="/imgs/icons8-virtual-reality-32.png"/> ]
            </div>
            <div class="flex sm:flex-row font-semibold text-primary-color dark:text-primary-color-dark">
                {% if current_path and current_path != '/' %}
                ~{{current_path | trim_end_matches(pat="/")}}$
                {% elif current_path and current_path == '/'%}
                ~{{current_path}}$
                {% else %}
                ~/top_secret/half-life3
                {% endif %}
                <div class="Cursor">
                    <span class="Cursor">▋</span>
                </div>
            </div>
        </a>
    </div>
    {#----------------------------------------------------------#}
    {#------------------------- NAVBAR/BEGIN -------------------#}
    {#----------------------------------------------------------#}
    <div class="flex items-center text-base sm:text-sm leading-5">
        <div class="nav-links">
            {% for item in config.extra.navbar.items %}
            {% if lang == item.lang %}
            {% for link in item.links %}
            <a href="{{ link.url }}" class="hover-underline-animation p-2 inline-flex flex-row text-neutral-900 dark:text-neutral-100 font-medium">
                {{ icons::default_icon(url=link.url) }}
                {{ link.name }}
            </a>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
        {% if config.extra.sidebar.enabled %}
        <button class="hidden 2xl:inline-flex 2xl:flex-row p-2  text-neutral-900 dark:text-neutral-100 font-medium" id="switch-sidebar">
            {{ icons::svg(icon='sidebar.svg') }}
        </button>
        {% endif %}
    </div>
    {#----------------------------------------------------------#}
    {#------------------------- NAVBAR/END---------------------#}
    {#----------------------------------------------------------#}
</header>
{% endmacro get_header %}
